@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url(/img/icons/style.css);
:root {
    /* Color */
    --gradient: linear-gradient(
        #405DE6 0.01%,
        #833AB4 21.88%,
        #C13584 47.92%,
        #E1306C 67.71%,
        #FD1D1D 84.38%
    );
    --bg: #0B0E27;
    --primary: #FFFFFF;
    --accent: #0B6AF9;
    --default: #A4A4A4;

    
    /* Buttons color */
    --stat_bg: rgba(255, 255, 255, 0.1);
    --search_bg: rgba(150, 150, 255, 0.2);
    --active_menu_bg: rgba(150, 150, 255, 0.1);
}

body {
    font-family: 'Sarala', sans-serif;
    min-height: 100vh;
    color: var(--primary);
    background-color: var(--bg);
}
* {
    padding: 0;
    margin: 0;
}

.gradient {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 500px;
    background-color: var(--bg);
}

.gradient::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: var(--gradient);
}

.avatar {
    width: 100px;
    height: 100px;
}

.button {
    display: inline-block;
    position: relative;
    padding: 8px 32px;
    border-radius: 8px;
    background-color: var(--stat_bg);
}
.button2 {
    display: inline-block;
    position: relative;
    padding: 8px 32px;
    border-radius: 8px;
    background-color: var(--search_bg);
}