@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url(/img/icons/style.css);
:root {
    /* Color */
    --gradient: linear-gradient(
        -100deg,
        #405DE6 0.01%,
        #833AB4 21.88%,
        #C13584 47.92%,
        #E1306C 67.71%,
        #FD1D1D 84.38%
    );
    --bg: #0B0E27;
    --primary: #FFFFFF;
    --accent: #0B6AF9;
    --default: #A4A4A4;

    
    /* Buttons color */
    --stat_bg: rgba(255, 255, 255, 0.1);
    --search_bg: rgba(150, 150, 255, 0.2);
    --active_menu_bg: rgba(150, 150, 255, 0.1);
}

body {
    font-family: 'Sarala', sans-serif;
    min-height: 100vh;
    color: var(--primary);
    background-color: var(--bg);
}
* {
    padding: 0;
    margin: 0;
}
/* Border gradien */
.gradient {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 500px;
    background-color: var(--bg);
}
.gradient > img {
    border-radius: 500px;
}
.gradient::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: var(--gradient);
}


/* Layout */
.wrapper {
}
.header {
    padding: 24px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    display: flex;
}
.sidebar {
    width: 400px;
    margin-right: 20px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-right: 56px;
}

/* Header */
.search {
    display: flex;
    align-items: center;
    widows: 100%;
    max-width: 300px;
    border-radius: 5px;
    background-color: var(--search_bg);
    padding: 4px 16px;
}
.search i {
    font-size: 24px;
}
.search input {
    flex-grow: 1;
    margin-left: 50px;
    padding: 8px 0;
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 20px;
} 
.search input:focus {
    outline: none;
}

.action {
    display: flex;
    align-items: center;
}

.action__item {
    cursor: pointer;
    font-size: 42px;
}
.action__item:not(:last-child){
    margin-right: 22px;
}

.new-post-btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--gradient);
    margin-left: 24px;
}
.new-post-btn i {
    display: inline-block;
    font-size: 24px;
    margin-right: 22px;
}
.new-post-btn span {
    font-size: 25px;
    font-weight: 700;
    white-space: nowrap;
}

/* Sidebar */

.user {
    max-width: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.user__avatar {
    display: block;
    width: 240px;
    height: 240px;
    border: 1px solid var(--bg);

}
.user__avatar > img {
    width: 100%;
}
.user__name {
    font-weight: 700;
    font-size: 45px;
}
.user__name i {
    font-size: 0.7em;
    margin-left: 8px;
}
.user__nickname {
    font-size: 28px;
    color: var(--default);
    margin-bottom: 20px;
}
.user__stat {
    display: flex;  
    justify-content: space-between;
}

.user__stat-item {
    display: flex;
    margin: 0px 10px;
    align-items: center;
    padding: 12px 18px;
    background-color: var(--stat_bg);
    border-radius: 10px;
    font-size: 32px;
}
.user__stat-item i {
    font-size: 1.2em;
    margin-right: 16px;
}
.user_small {
    margin-bottom: 0;
}
.user_small .user__avatar {
    width: 130px;
    height: 130px;
}
.user_small .user__nickname {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}


.menu {
}
.menu__item {
    display: flex;
    align-items: center;
    padding: 16px 62px;
    color: var(--primary);
    text-decoration: none;
    font-size: 32px;
    border-radius: 10px;
}
.menu__item:not(:last-child) {
    margin-top: 22px;
}
.menu__item i {
    font-size: 1.4;
    margin-right: 60px;
}
.menu__item:hover,
.menu__item_active {
    background-color: var(--active_menu_bg);
    position: relative;
}
.menu__item:hover::after,
.menu__item_active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12px;
    border-radius: 10px;
    background: var(--gradient);
}

/* Stories */
.stories {
    margin-bottom: 36px;
    flex-grow: 1;
}

.stories__slider {
    display: flex;
    align-items: center;
}
.stories__slider-next {
    cursor: pointer;
    font-size: 32px;
    margin-left: 18px;
    padding: 4px 16px;
}
.stories__slider-content {
    display: flex;
    overflow-x: hidden;
    width: 100%;
}
.stories__slider-item {
}
.stories__slider-item:not(:last-child) {
    margin-right: 34px;
}

/* Elements */
.title {
    font-size: 50px;
    font-weight: 700;
    line-height: 82px;
    text-transform: uppercase;
}